html,
body {
    height: 100%;

}

body {
    margin: 0;
    text-align: center;
}

#main_cake {
    height: 300px;
    width: 399.99px;
    text-align: center;

}

.top_container {
    background-color: #E6E6E6;
    color: #1A1010;
    margin: 0;
    padding: 60px;
}

.middle_container_1 {
    background-color: #1A1010;
    color: #E6E6E6;
    margin: 0px auto 0px auto;
    text-align: left;
    position: relative;

}

.middle_container_2 {
    background-color: #E6E6E6;
    color: #1A1010;
    margin: 0px auto 0px auto;
    text-align: left;
    position: relative;


}

.bottom_container {
    background: linear-gradient(90deg, #353b18, #8A9652);
    color: #ffffff;
    margin: 0;
    padding: 15px;
    font-size: 15px;
    text-align: left;
    font-family: 'Play', sans-serif;
}


h1 {
    font-family: 'Cinzel', serif;
    text-align: center;
    margin: 0;
    font-size: 50px;
    padding-top: 20px;

}

h1:hover {
    color: #B20703;
    text-shadow: 5px 5px 15px rgb(0, 0, 0);
}

h2 {
    margin: 0;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-family: 'Cuprum', sans-serif;
    padding-left: 8px;
    padding-bottom: 100px;


}

p {
    text-align: left;
    margin: 0 auto;
    padding: 0 10px 150px 10px;
    line-height: 2;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}

.one {
    position: absolute;
    left: 15px;
    top: 20px;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

.two {
    position: absolute;
    left: 97.55px;
    top: 20px;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

.three {
    position: absolute;
    left: 168.753px;
    top: 20px;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

h4 {
    margin: 4px;
    font-size: 30px;
    text-align: center;
    font-family: 'Caveat', cursive;
    color: #8A9652;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 52px rgb(255, 255, 255);
}

.aone {
    text-decoration: none;
    color: #B20703;
}

.atwo {
    text-decoration: none;
    color: #8A9652;
}

.athree {
    text-decoration: none;
    color: #1A1010;
}

a:hover {
    color: #CF6D30;
}

h5 {
    margin: 0;
}

.cake_1,
.cake_3 {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    padding: 10px;
    margin: 0;
    float: right;
    margin-left: 30px;

}

.cake_2 {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    padding: 10px;
    margin: 0;
    float: left;
    margin-right: 30px;
}

h3 {
    padding-left: 10px;
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    color: #8A9652;
}



.ending {
    padding-bottom: 160px;
}


.align_left {
    padding-bottom: 50px;
    width: 75%;
    position: relative;
    text-align: left;

}

.align_right {
    padding-bottom: 50px;
    text-align: left;
    width: 75%;
    position: relative;
    left: calc(calc(100% - 75%));
}

